<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NodeJS Website</title>
</head>
<body>
  <header>
    <div>
      <h4><a href="/">NodeJS Website</a></h4>      
    </div>
  </header>